.yith-wcan-group:after {
    content: "";
    display: table;
    clear: both;
}

.yith-wcan-loading {
    background: url('../images/ajax-loader.gif') no-repeat center;
    height: 100px;
}

.woocommerce .widget_layered_nav ul.yith-wcan li span,
.woocommerce-page .widget_layered_nav ul.yith-wcan li span {
    cursor: not-allowed;
}

/* Colors Type */
.yith-wcan-color li {
    float: left;
}

.woocommerce .widget_layered_nav ul.yith-wcan-color li a,
.woocommerce-page .widget_layered_nav ul.yith-wcan-color li a,
.woocommerce .widget_layered_nav ul.yith-wcan-color li span,
.woocommerce-page .widget_layered_nav ul.yith-wcan-color li span {
    border: 1px solid #ddd;
    display: block;
    height: 20px;
    margin: 5px 5px 5px 0;
    padding: 0;
    width: 20px;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
}

.woocommerce .widget_layered_nav ul.yith-wcan-color li a:hover,
.woocommerce-page .widget_layered_nav ul.yith-wcan-color li a:hover,
.woocommerce .widget_layered_nav ul.yith-wcan-color li.chosen a,
.woocommerce-page .widget_layered_nav ul.yith-wcan-color li.chosen a,
.woocommerce .widget_layered_nav ul.yith-wcan-color li span:hover,
.woocommerce-page .widget_layered_nav ul.yith-wcan-color li span:hover,
.woocommerce .widget_layered_nav ul.yith-wcan-color li.chosen span,
.woocommerce-page .widget_layered_nav ul.yith-wcan-color li.chosen span {
    border: 1px solid #444;
    background-image: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

/* Labels Type */
.yith-wcan-label li {
    float: left;
}

.woocommerce .widget_layered_nav ul.yith-wcan-label li a,
.woocommerce-page .widget_layered_nav ul.yith-wcan-label li a,
.woocommerce .widget_layered_nav ul.yith-wcan-label li span,
.woocommerce-page .widget_layered_nav ul.yith-wcan-label li span {
    background: #efefef;
    border: 1px solid #ddd;
    display: block;
    margin: 5px 5px 5px 0;
    padding: 2px;
    overflow: hidden;
    text-decoration: none;
}

.woocommerce .widget_layered_nav ul.yith-wcan-label li a:hover,
.woocommerce-page .widget_layered_nav ul.yith-wcan-label li a:hover,
.woocommerce .widget_layered_nav ul.yith-wcan-label li.chosen a,
.woocommerce-page .widget_layered_nav ul.yith-wcan-label li.chosen a {
    border: 1px solid #444;
    background-image: none;
    background-color: #ad74a2;
    color: #fff;

    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

/* DROPDOWN STYLE */

.yit-wcan-select-open {
    background: transparent url(../images/select-arrow.png) top 15px right no-repeat;
    border: 1px solid #cecece;
    color: #838383;
    display: block;
    line-height: 16px;
    margin-bottom: 15px;
    margin-top: 15px;
    overflow: hidden;
    padding: 10px 30px 10px 10px;
}

.yit-wcan-select-open.active {
    background: transparent url(../images/select-arrow.png) bottom 15px right no-repeat;
}

.yith-wcan-select-wrapper {
    background: #ffffff;
    margin: 0 4px 4px 0;
    max-height: 240px;
    padding-bottom: 30px;
    position: absolute;
    overflow-x: hidden;
    overflow-y: auto;
    max-width: 268px;
    width: 100%;
    z-index: -1;
    border: 1px solid #cecece;
    padding: 10px 0px;
    margin-top: -16px;
}
.widget-area .yith-wcan-select-wrapper {
    max-width: 260px;
}
.yith-wcan-select-wrapper ul.yith-wcan-select.yith-wcan li
{
    padding: 5px 8px;
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
}
.yith-wcan-select-wrapper ul.yith-wcan-select.yith-wcan li:hover,
.woocommerce-page .widget_layered_nav .yith-wcan-select-wrapper ul li.chosen{
    -webkit-box-shadow: 0px 3px 0px #F2F2F2 inset, 0px -3px 0px #F2F2F2 inset;
    -moz-box-shadow: 0px 3px 0px #f2f2f2 inset, 0px -3px 0px #f2f2f2 inset;
    box-shadow: 0px 3px 0px #F2F2F2 inset, 0px -3px 0px #F2F2F2 inset;
    border-bottom: 1px solid #cecece;
    border-top: 1px solid #cecece;
}
.yith-wcan-select-wrapper ul.yith-wcan-select.yith-wcan li a, .widget .yit-wcan-select-open {
    width: 100%;
    color: #838383;
    box-sizing: border-box;
}
.yith-wcan-select-wrapper ul.yith-wcan-select.yith-wcan li a:hover, .widget .yit-wcan-select-open:hover {
    text-decoration: none;
    color: #838383;
}

.woocommerce-page .widget_layered_nav .yith-wcan-select-wrapper ul li.chosen a, .woocommerce-page .widget_layered_nav .yith-wcan-select-wrapper ul li.chosen a{
    background: transparent url(../images/cross.png) bottom 6px left no-repeat;
    border: none;
}


